body {
    margin-bottom: 20px;
    color: #3A2658;
}

#spinner {
    position: absolute;
    z-index: 10000000;
    width: 32px;
    height:32px;
    left: 50%;
    top: 50%;
    margin-top: -16px;
    margin-left: -16px;
}